body {
height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at center, lightgrey, black);
}

.consola{
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parteArriba {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    height: 16em;
    width: 30em;


}
.headerArriba{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2em;
    width: 30em;

}

.divisorHeaderArr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divisorHeaderMedArr{
    height: 1em;
    width: 28em;
    background-color: grey;
    box-shadow: 0 0.1em 0 0 inset black;
}

.divisorHeaderMedAbaj{
    height: 1em;
    width: 17em;
    background-color: grey;
}

.divisorHeaderAbaj{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.esquinaArribaIzq{
    height: 1em;
    width: 1em;
    border-radius: 70% 0% 0% 0%;
    background-color: grey;
    box-shadow: 0.1em 0.1em 0 0 inset black;
}

.huecoIzq{
    height: 1em;
    width: 5.5em;
    background-color: grey;
    box-shadow: 0.1em 0 0 0 inset black;
}

.gomaArribaIzq{
    height: 1em;
    width: 1em;

    background-color: beige;
}


.gomaArribaDer{
    height: 1em;
    width: 1em;
    background-color: blue;

}

.huecoDer{
    height: 1em;
    width: 5.5em;

    background-color: grey;
    box-shadow: -0.1em 0 0 0 inset black;
}

.esquinaArribaDer{
    height: 1em;
    width: 1em;
    border-radius: 0% 70% 0% 0%;
    background-color: grey;
    box-shadow: -0.1em 0.1em 0 0 inset black;
}
.medioArriba{
    display: flex;
    flex-direction: row;
}

.medianaArrIzqArrIzq{
    height: 7em;
    width: 8em;
    background-color: grey;
    box-shadow: 0.1em 0 0 0 inset black;
}

.medianaArrIzqArrDer{
    height: 7em;
    width: 8em;
    background-color: grey;
    box-shadow: -0.1em 0 0 0 inset black;
}

.medianaArrIzqAbajIzq{
    display: flex;
    justify-content: center;
    height: 4em;
    width: 8em;
    background-color: grey;
    box-shadow: 0.1em 0 0 0 inset black;
}

.puntosIzq{
    height: 3em;
    width: 6em;
}



.medianaArrIzqAbajDer{
    display: flex;
    justify-content: center;
    height: 4em;
    width: 8em;
    background-color: grey;
    box-shadow: -0.1em 0 0 0 inset black;
}

.puntosDer{
    height: 3em;
    width: 6em;
    margin-right: 1em;
}

.cristalArriba {
    height: 11em;
    width: 14em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(83, 45, 45);
}
.pantallaArriba{
    height: 9em;
    width: 12em;

    background-color: rgba(0, 0, 0, 0.684);
}

.footerArriba{

    background-color: grey;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.medioFooterArr{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.medioFooterArr1{
    height: 1em;
    width: 5.5em;
    background-color: grey;
    box-shadow: 0.1em 0 0 0 inset black;
}

.gomaAbajoIzq{
    height: 1em;
    width: 1em;
    background-color: white;

}

.medioFooterArr2{
    height: 1em;
    width: 17em;
    background-color: grey;
}

.gomaAbajoDer{
    height: 1em;
    width: 1em;
    background-color: blue;
}


.medioFooterArr3{
    height: 1em;
    width: 5.5em;
    background-color: grey;
    box-shadow: -0.1em 0 0 0 inset black;
}

.medioFooterAbaj{
    display: flex;
    flex-direction: row;
    box-shadow: 0 -0.1em 0 0.1em inset black;
}

.medioFooterAbaj1{
    height: 2em;
    width: 7em;
    background-color: grey;
    box-shadow: 0 -0.1em 0 0 inset black;
}

.esquinaFooterIzq{
    height: 2em;
    width: 2em;
    background-color: grey;
    border-radius: 0 0 0 35%;
    box-shadow: 0.1em -0.1em 0 0 inset black;
}

.medioFooterAbaj2{
    height: 2em;
    width: 12em;
    background-color: grey;
    box-shadow: 0 -0.1em 0em 0 inset black;

}

.medioFooterAbaj3{
    height: 2em;
    width: 7em;
    background-color: grey;
    box-shadow: 0 -0.1em 0em 0 inset black;
}

.esquinaFooterDer{
    height: 2em;
    width: 2em;
    background-color: grey;
    border-radius: 0 0 35% 0;
    box-shadow: -0.1em -0.1em 0em 0 inset black;
}

.parteAbajo {
    display: flex;
    flex: auto;

    align-items: center;
    justify-content:center ;
    flex-direction: column;

    height: 14em;
    width: 30em;
}

.headerAbajo{
    height: 1em;
    width: 30em;
    display: flex;
    justify-content: left;
    background-color: grey;
    box-shadow: -0.1em 0 0 0 inset black;
}
.parcheHeader{
    height: 1em;
    width: 1em;
    background-color: grey;
    box-shadow: 0.1em 0 0 0 inset black;
}

.medioAbajo{
    display: flex;
    flex-direction: row;
}

.medioAbajoIzq{
    height: 11em;
    width: 8em;

    display: flex;
    flex-direction: column;

    background-color: grey;
    box-shadow: 0.1em -0.1em 0 0 inset black;
}

.powerBoton{
    height: 2em;
    width: 8em;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: grey;
    box-shadow: 0.1em 0.1em 0 0 inset black;
}

.margenPowerizq{
    height: 1em;
    width: 0.5em;

    background: linear-gradient(to right, grey, rgb(58, 58, 58))
}

.power{
    height: 1em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 58, 58);
    border-radius: 5%;
    box-shadow: 0.1em 0.1em 0.1em 0 inset rgb(166, 166, 166);
}
.power:hover , .texto:hover{
    box-shadow: 0.1em 0.1em 0.1em 0 inset rgb(36, 36, 36);
    color: rgb(79, 79, 79);

}

.textoPower{
    padding: 0.5em;
    height: 1em;
    width: 2em;
    margin-right: 1em;
    font-size: .5em;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(132, 132, 132);
    text-shadow: #000000;
}

.margenPowerDer{
    height: 1em;
    width: 0.5em;

    background: linear-gradient(to left, grey, rgb(58, 58, 58))
}

.cajaFlechas{
    height: 6em;
    width: 8em;
    display: flex;
}

.margenFlechasIzq{
    height: 6em;
    width: 1em;

    background-color: grey;
    box-shadow: 0.1em 0 0 0 inset black;
}

.flechas{
    height: 6em;
    width: 6em;
    display: flex;
    flex-direction: row;
}

.flechasIzq{
    height: 6em;
    width: 2em;
    display: flex;
    flex-direction: column;

    background-color: dimgrey;
}

.huecoArribaIzquierda{
    height: 2em;
    width: 2em;
}

.flechaIzquierda{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 2em;
    width: 2em;

    background-color: rgb(58, 58, 58);
}

.trianguloIzq{
    border-top: 0.5em solid transparent;
    border-right: 1em solid #32557f;
    border-bottom: 0.5em solid transparent;
    margin-left: 0.2em;
}

.flechasMed{
    height: 6em;
    width: 2em;
    display: flex;
    flex-direction: column;

    background-color: rgb(143, 76, 76);
}

.flechaMedioArriba{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;


    background-color: rgb(58, 58, 58);
}

.trianguloArriba{
    border-right: 0.5em solid transparent;
    border-left: 0.5em solid transparent;
    border-bottom: 1em solid #32557f;
    margin-bottom: 0.5em;
}


.flechaMedio{
    height: 2em;
    width: 2em;
}

.flechaMedioAbajo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;

    background-color: rgb(58, 58, 58);
}

.trianguloAbajo{
    border-left: 0.5em solid transparent;
    border-top: 1em solid #32557f;
    border-right: 0.5em solid transparent;
    margin-top: 0.5em;
}


.flechasDer{
    height: 6em;
    width: 2em;
    display: flex;
    flex-direction: column;

    background-color: rgb(59, 84, 207);
}

.huecoDerechaArriba{
    height: 2em;
    width: 2em;
}

.flechaDerecha{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 2em;
    width: 2em;

    background-color: rgb(58, 58, 58);
}

.trianguloDer{
    border-top: 0.5em solid transparent;
    border-left: 1em solid #32557f;
    border-bottom: 0.5em solid transparent;
    margin-right: 0.2em;
}

.huecoDerechaAbajo{
    height: 2em;
    width: 2em;
}

.margenFlechasDer{
    height: 6em;
    width: 1em;

    background-color: grey;
}

.medioAbajoIzqMargen{
    height: 11em;
    width: 1em;

    background-color: grey;
    box-shadow: 0.1em 0 0 0 inset black;
}

.medioAbajoPantalla{
    display: flex;
    flex-direction: column;
}

.pantallaAbajo {
    height: 9em;
    width: 12em;

    background-color: black;
}

.margenPantallaAbajo{
    height: 2em;
    width: 12em;
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: grey;
    box-shadow: 0.1em -0.1em 0 0 inset black;
}

.textoNintendo{
    display: flex;
    align-items: center;
    height: 2em;
    width: 6.5em;
    background-color: grey;
    box-shadow: -0.1em -0.1em 0 0 inset black;
}

.logoNintendo{
    display: flex;
    height:1em;
    width: 1em;
}



.medioAbajoDerMargen{
    height: 11em;
    width: 1em;

    background-color: grey;
    box-shadow: -0.1em 0 0 0 inset black;
}

.medioAbajoDer{
    height: 11em;
    width: 8em;

    background-color: grey;
    box-shadow: -0.1em -0.1em 0 0 inset black;
}

.startSelectBoton{
    height: 2em;
    width: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    box-shadow: -0.1em 0.1em 0 0 inset black;
}

.start{
    height: 1em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 58, 58);
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: 0.1em 0.1em 0.1em 0 inset rgb(166, 166, 166);
}

.textoStart{
    padding: 0.5em;
    margin-left: 0.7em;
    height: 1em;
    width: 2.5em;
    margin-right: 1em;
    font-size: .5em;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0.8em 0 0 0.8em;
    color: rgb(132, 132, 132);
    text-shadow: #000000;
}

.start:hover , .textoStart:hover{
    box-shadow: 0.1em 0.1em 0.1em 0 inset rgb(36, 36, 36);
    color: rgb(79, 79, 79);
}

.margenStartSelect{
    height: 1em;
    width: 0.5em;

    background-color: grey(113, 171, 152);
}

.select{
    height: 1em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 58, 58);
    border-radius: 0 0.5em 0.5em 0;
    box-shadow: 0.1em 0.1em 0.1em 0 inset rgb(166, 166, 166);
}

.textoSelect{
    padding: 0.5em;
    margin-left: 0.7em;
    height: 1em;
    width: 2.5em;
    margin-right: 1em;
    font-size: .5em;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0 0.8em 0.8em 0;
    color: rgb(132, 132, 132);
    text-shadow: #000000;
}

.select:hover , .textoSelect:hover{
    box-shadow: 0.1em 0.1em 0.1em 0 inset rgb(36, 36, 36);
    color: rgb(79, 79, 79);
}

.botonera{
    height: 6em;
    width: 8em;
    display: flex;
}

.margenBotonesIzq{
    height: 6em;
    width: 1em;

    background-color: grey;
}

.botones{
    height: 6em;
    width: 6em;
    display: flex;
    flex-direction: row;
}

.botonesIzq{
    height: 6em;
    width: 2em;
    display: flex;
    flex-direction: column;

    background-color: grey;
}

.huecoArribaIzquierda{
    display: flex;
    align-items: end;
    justify-content: end;
    height: 2em;
    width: 2em;
}

.bordeMargen1{
    height: 1em;
    width: 1em;
    box-shadow: -0.1em -0.1em 0 0 inset black;
}

.botonIzquierda{
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -0.1em 0.1em 0 0  black;
    border-radius: 0.5em 0 0 0.5em;
}

.parcheBotonY{
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -0.1em -0.1em 0 0  black;
    border-radius: 0.5em 0 0 0.5em;
}

.botonY{
    height: 1.8em;
    width: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 58, 58);
    border-radius: 50%;
}

.huecoAbajoIzquierda{
    display: flex;
    align-items: start;
    justify-content: end;
    height: 2em;
    width: 2em;
}

.bordeMargen2{
    height: 1em;
    width: 1em;
    box-shadow: -0.1em 0.1em 0 0 inset black;
}

.botonesMed{
    height: 6em;
    width: 2em;
    display: flex;
    flex-direction: column;

    background-color: grey;
}

.botonMedioArriba{
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: -0.1em -0.1em 0 0  black;
}

.parcheBotonX{
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 0.1em -0.1em 0 0  black;
}

.botonX{
    height: 1.8em;
    width: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(58, 58, 58);
}

.botonMedio{
    height: 2em;
    width: 2em;
}

.botonMedioAbajo{
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -0.1em 0.1em 0 0  black;
    border-radius: 0 0 0.5em 0.5em;
}

.parcheBotonB{
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.1em 0.1em 0 0  black;
    border-radius: 0 0 0.5em 0.5em;
}

.botonB{
    height: 1.8em;
    width: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 58, 58);
    border-radius: 50%;
}

.botonesDer{
    height: 6em;
    width: 2em;
    display: flex;
    flex-direction: column;

    background-color: grey;
}

.huecoDerechaArriba{
    display: flex;
    align-items: end;
    justify-content: start;
    height: 2em;
    width: 2em;
}

.bordeMargen3{
    height: 1.8em;
    width: 1em;
    box-shadow: 0.1em -0.1em 0 0 inset black;
}

.botonDerecha{
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.1em -0.1em 0 0  black;
    border-radius: 0 0.5em 0.5em 0;
}

.parcheBotonA{
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.1em 0.1em 0 0  black;
    border-radius: 0 0.5em 0.5em 0;
}

.botonA{
    height: 1.8em;
    width: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 58, 58);
    border-radius: 50%;
}

.huecoDerechaAbajo{
    display: flex;
    align-items: start;
    justify-content: start;
    height: 2em;
    width: 2em;
}

.bordeMargen4{
    height: 1.8em;
    width: 1em;
    box-shadow: 0.1em 0.1em 0 0 inset black;
}

.margenBotonesDer{
    height: 6em;
    width: 1em;

    background-color: grey;
    box-shadow: -0.1em 0 0 0 inset black;
}


.footerAbajo{

    display: flex;
    flex-direction: row;

    height: 2em;
    width: 30em;
    justify-content: space-between;

}

.footerAbajo1{
    height: 2em;
    width: 6em;

    background-color: grey;
    box-shadow: 0 -0.1em 0 0 inset black;
}

.footerAbajo2{
    display: flex;
    flex-direction: column;
}

.micLeds{
    height: 1.5em;
    width: 14em;
    display: flex;
    flex-direction: row;
    background-color: grey;
    
}
.margenMic{
    height: 1em;
    width: 1em;

    background-color: grey;
}

.mic{
    height: 1em;
    width: 0.3em;
    background-color: black;
    margin-top: 0.2em;
}

.margenMicLeds{
    height: 1em;
    width: 10.7em;
    display: flex;
    align-items: center;

    background-color: grey;

}

.espacioMic{
    font-size: 0.5em;
    height: 1em;
    width: 3em;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(59, 59, 59);
    text-shadow: #000000;
}

.leds{

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 1em;
    width: 1em;
    background-color: grey;

}

.ledIzq{
    height: 1em;
    width: 0.3em;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 0.2em;
}

.ledDer{
    height: 1em;
    width: 0.3em;
    background: linear-gradient(rgb(13, 232, 13), black);
    box-shadow: -0.1em -0.1em 0.1em 0 inset rgb(5, 125, 5) ;
    margin-top: 0.2em;
}

.margenLeds{
    height: 1em;
    width: 1em;

    background-color: grey;
}

.footerAbajo2Margen{
    height: 0.5em;
    width: 14em;

    background-color: grey;
    box-shadow: 0 -0.1em 0 0 inset black;
}

.footerAbajo3{
    height: 2em;
    width: 6em;

    background-color: grey;
    box-shadow: 0 -0.1em 0 0 inset black;
}
